<!doctype html>
<html>
    <head>
        <title>Path: {{tree.name }}</title>
        <meta name="File server" content="File server">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{{ url_for('custom_static_js', filename='qrcode.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('custom_static_js', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('custom_static_css', filename='style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('custom_static_css', filename='hover.min.css') }}"></link>

    </head>
    <body>
    
        <header align='center'>
            <h1>Local File Server</h3>
            (for DEMO Purpose Only)
        <h3>Serving: {{ web_dir }}</h3>
        </header>
            <div class="container">
                <fieldset  class="container__half half1">
                    <legend>{{ tree.name }}</legend>
                    <ol type="1">
                    {%- for item in tree.children recursive %}
                        <li>
                        <a href="{{item.name }}"><strong>{{ item.name }}</strong></a>  &nbsp;&nbsp;&nbsp;<a  class="button1" onClick="genQrCode(this)">qr code</a>
                        {%- if item.children -%}
                        {% set child = loop(item.children) %}
                            <ul><a href='{{ child }}'><strong>{{ child }}</strong></a></ul>
                        {%- endif %}
                        </li>
                    {%- endfor %}
                    </ol>
                </fieldset>


                <fieldset class="container__half" >
                    <legend>QR-Code</legend>
                    <div align="center" id="qrContainer"> </div>
                     <h1 id="watermark">DEMO ONLY</h1>
                </fieldset>
            </div>
        <footer align='center'>
        <p>&copy;Author: codechari</p>
        <p><a href="https://codechari.github.io/">codechari.github.io</a></p>
        </footer>
        
    </body>
</html>
